DB_URL=jdbc:postgresql://db:5432/sqlapp
DB_USER=sandbox_user
DB_PASSWORD=sql_app_sand
DB_ADMIN_USER=postgres
DB_ADMIN_PASSWORD=sql_app_postgre
SESSION_PASSWORD=sql_session
POSTGRES_PASSWORD=sql_app_postgre